<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <test name="First task" group-by-instances="true">
        <classes>
            <class name="rsm.first_task.FooBarTests" />
        </classes>
    </test>
    <test name="Second task" group-by-instances="true">
        <classes>
            <class name="rsm.second_task.AmazonTests" />
        </classes>
    </test>
</suite>